@{

    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];

    var names = new List<dynamic>()
    {
        new { Id = "Index", Name = "Источник данных", Link = "/" },
        new { Id = "ModelSelect", Name = "Выбор модели", Link = "/" },
        new { Id = "Train", Name = "Обучение", Link = "/" },
        new { Id = "Topics", Name = "Категории", Link = "/" },
        new { Id = "Results", Name = "Результаты", Link = "/" }
    };

}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard Admin Template by Tooplate.com</title>
        <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <!-- https://fonts.google.com/specimen/Open+Sans -->
        <link rel="stylesheet" href="~/css/fontawesome.min.css">
        <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" href="~/css/fullcalendar.min.css">
        <!-- https://fullcalendar.io/ -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" href="~/css/tooplate.css">
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <!-- https://jquery.com/download/ -->
        <script src="~/js/moment.min.js"></script>
        <!-- https://momentjs.com/ -->
        <script src="~/js/utils.js"></script>
        <script src="~/js/Chart.min.js"></script>
        <!-- http://www.chartjs.org/docs/latest/ -->
        <script src="~/js/fullcalendar.min.js"></script>
        <!-- https://fullcalendar.io/ -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- https://getbootstrap.com/ -->
        <script src="~/js/tooplate-scripts.js"></script>
    </head>

    <body id="reportsPage">
        <div class="" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <h1 class="mx-auto">"Систематизатор"</h1>
                                @*<ul class="navbar-nav mx-auto">
                                    @foreach (var pt in names)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link @( pt.Id.ToString() == action.ToString() ? "active" : "" )" href="@Url.Action((string)pt.Id,controller)">
                                                @(pt.Name)
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    }
                                </ul>*@
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- row -->
                <div class="row tm-content-row tm-mt-big">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="bg-white tm-block">
                            @*@foreach (var pt in names)
                            {
                                if (pt.Id.ToString() == action.ToString())
                                {
                                    <h1>@pt.Name</h1>
                                    break;
                                }
                            }*@
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <footer class="row tm-mt-small">
                    <div class="col-12 font-weight-light">
                        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                            Copyright &copy; 2018 Admin Dashboard . Created by
                            <a href="http://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            let ctxLine,
                ctxBar,
                ctxPie,
                optionsLine,
                optionsBar,
                optionsPie,
                configLine,
                configBar,
                configPie,
                lineChart;
            barChart, pieChart;
            // DOM is ready
            $(function () {
                updateChartOptions();
                drawLineChart(); // Line Chart
                drawBarChart(); // Bar Chart
                drawPieChart(); // Pie Chart
                drawCalendar(); // Calendar

                $(window).resize(function () {
                    updateChartOptions();
                    updateLineChart();
                    updateBarChart();
                    reloadPage();
                });
            })
        </script>
        @RenderSection("Scripts", false);
    </body>
</html>
